## Recommendation System | Unsupervised Learning

Association Rule mining/ Market backet Analysis
ARM: support, confidence, lift>1
Recommendation System are of 4 types:

- Popularity Based Model
- Content Based
- Collabrative filtering
- Hybrid Recommendation System

/Users/vijaykoneri/Downloads/movies.csv
/Users/vijaykoneri/iCloud Drive (Archive) - 1/Desktop/AI:ML-M/Main Projects/RemommendationSystem.ipynb/movies.csv

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
movies= pd.read_csv("movies.csv")
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [3]:
credits= pd.read_csv('credits.csv')
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [4]:
print(movies.shape)
print(credits.shape)

(4803, 20)
(4803, 4)

In [5]:
movies['title'].nunique()

4800

In [6]:
credits.columns

Index(['movie_id', 'title', 'cast', 'crew'], dtype='object')

In [7]:
movies.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [8]:
movies= movies.merge(credits, on='title')
movies.shape

(4809, 23)

In [9]:
movies.duplicated().sum()

0

In [10]:
movies.isnull().sum()

budget                     0
genres                     0
homepage                3096
id                         0
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
movie_id                   0
cast                       0
crew                       0
dtype: int64

Feature Requried to impliment Recommendation system
geners, keywords, overview, title, cast, crew, movie_id

In [11]:
movies= movies[['genres', 'keywords', 'overview', 'title', 'cast', 'crew', 'movie_id']]
movies.head(1)

,genres,keywords,overview,title,cast,crew,movie_id
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...",Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",19995

In [12]:
# Using ast to convert dict format data to list or any desired formay
import ast

In [13]:
def convert(text):
    L=[]
    for i in ast.literal_eval(text):
        L.append(i['name'])
    return L

In [14]:
movies['genres']=movies['genres'].apply(convert) 
movies.head(1)

,genres,keywords,overview,title,cast,crew,movie_id
0,"[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...",Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",19995

In [15]:
movies['keywords']=movies['keywords'].apply(convert) 
movies.head(1)

,genres,keywords,overview,title,cast,crew,movie_id
0,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...",Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",19995

In [16]:
len(movies['cast'][0])

12919

In [17]:
def convert3(text):
    L=[]
    counter=0
    for i in ast.literal_eval(text):
        if counter<3:
            L.append(i['name'])
        counter +=1
    return L

In [18]:
movies['cast']=movies['cast'].apply(convert3)
movies.head(1)

,genres,keywords,overview,title,cast,crew,movie_id
0,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...",Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",19995

In [19]:
def convertDir(text):
    L=[]
    for i in ast.literal_eval(text):
        if i['job']== "Director":
            L.append(i['name'])
    return L

In [20]:
movies['crew']=movies['crew'].apply(convertDir)
movies.head(1)

,genres,keywords,overview,title,cast,crew,movie_id
0,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...",Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron],19995

- NLP
  - ML
  - DL

conversion techniques

- BOW - Bag of Words
- TF-IDF : Term Frequency- Inverse Documents

In [21]:
def collapse(L):
    L1=[]
    for i in L:
        L1.append(i.replace(" ",""))
    return L1

In [22]:
movies['cast']=movies['cast'].apply(collapse)
movies['crew']=movies['crew'].apply(collapse)
movies['genres']=movies['genres'].apply(collapse)
movies['keywords']=movies['keywords'].apply(collapse)
movies.head(1)

,genres,keywords,overview,title,cast,crew,movie_id
0,"[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","In the 22nd century, a paraplegic Marine is di...",Avatar,"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],19995

In [23]:
movies.isnull().sum()

genres      0
keywords    0
overview    3
title       0
cast        0
crew        0
movie_id    0
dtype: int64

In [24]:
movies.dropna(inplace=True)
movies.head(1)

,genres,keywords,overview,title,cast,crew,movie_id
0,"[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","In the 22nd century, a paraplegic Marine is di...",Avatar,"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],19995

In [25]:
# Tokenization - NLP
movies['overview']= movies['overview'].apply(lambda x:x.split())

In [26]:
movies.head(1)

,genres,keywords,overview,title,cast,crew,movie_id
0,"[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[In, the, 22nd, century,, a, paraplegic, Marin...",Avatar,"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],19995

In [27]:
movies['tags'] = movies['overview']+movies['genres']+movies['keywords']+movies['cast'] + movies['crew']
movies.head(1)

,genres,keywords,overview,title,cast,crew,movie_id,tags
0,"[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[In, the, 22nd, century,, a, paraplegic, Marin...",Avatar,"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],19995,"[In, the, 22nd, century,, a, paraplegic, Marin..."

In [28]:
movies['tags'][0]

['In',
 'the',
 '22nd',
 'century,',
 'a',
 'paraplegic',
 'Marine',
 'is',
 'dispatched',
 'to',
 'the',
 'moon',
 'Pandora',
 'on',
 'a',
 'unique',
 'mission,',
 'but',
 'becomes',
 'torn',
 'between',
 'following',
 'orders',
 'and',
 'protecting',
 'an',
 'alien',
 'civilization.',
 'Action',
 'Adventure',
 'Fantasy',
 'ScienceFiction',
 'cultureclash',
 'future',
 'spacewar',
 'spacecolony',
 'society',
 'spacetravel',
 'futuristic',
 'romance',
 'space',
 'alien',
 'tribe',
 'alienplanet',
 'cgi',
 'marine',
 'soldier',
 'battle',
 'loveaffair',
 'antiwar',
 'powerrelations',
 'mindandsoul',
 '3d',
 'SamWorthington',
 'ZoeSaldana',
 'SigourneyWeaver',
 'JamesCameron']

In [29]:
new= movies.drop(columns=['overview','genres','keywords','cast','crew'])
new.head(1)

    title  movie_id                                               tags
0  Avatar     19995  [In, the, 22nd, century,, a, paraplegic, Marin...

In [30]:
new.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4806 entries, 0 to 4808
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   title     4806 non-null   object
 1   movie_id  4806 non-null   int64
 2   tags      4806 non-null   object
dtypes: int64(1), object(2)
memory usage: 279.2+ KB

In [31]:
new['tags']= new['tags'].apply(lambda x: " ".join(x))
new.head(1)

    title  movie_id                                               tags
0  Avatar     19995  In the 22nd century, a paraplegic Marine is di...

In [32]:
new.to_csv("moviesNew.csv")

In [33]:
# NLP- BoW

from sklearn.feature_extraction.text import CountVectorizer
cv= CountVectorizer(stop_words='english', max_features=5000, binary=True)

In [34]:
vector= cv.fit_transform(new['tags']).toarray()
vector

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [35]:
from sklearn.metrics.pairwise import cosine_similarity

In [39]:
cosine_similarity(vector)[0]

array([1.        , 0.09837388, 0.06780635, ..., 0.02886751, 0.03279129,
       0.        ])

In [40]:
cosine_similarity(vector)[0].shape

(4806,)

In [41]:
similarity= cosine_similarity(vector)
similarity.shape

(4806, 4806)

In [43]:
new.head(15)

,title,movie_id,tags
0,Avatar,19995,"In the 22nd century, a paraplegic Marine is di..."
1,Pirates of the Caribbean: At World's End,285,"Captain Barbossa, long believed to be dead, ha..."
2,Spectre,206647,A cryptic message from Bondâ€™s past sends him o...
3,The Dark Knight Rises,49026,Following the death of District Attorney Harve...
4,John Carter,49529,"John Carter is a war-weary, former military ca..."
5,Spider-Man 3,559,The seemingly invincible Spider-Man goes up ag...
6,Tangled,38757,When the kingdom's most wanted-and most charmi...
7,Avengers: Age of Ultron,99861,When Tony Stark tries to jumpstart a dormant p...
8,Harry Potter and the Half-Blood Prince,767,"As Harry begins his sixth year at Hogwarts, he..."
9,Batman v Superman: Dawn of Justice,209112,Fearing the actions of a god-like Super Hero l...
10,Superman Returns,1452,Superman returns to discover his 5-year absenc...
11,Quantum of Solace,10764,Quantum of Solace continues the adventures of ...
12,Pirates of the Caribbean: Dead Man's Chest,58,Captain Jack Sparrow works his way out of a bl...
13,The Lone Ranger,57201,The Texas Rangers chase down a gang of outlaws...
14,Man of Steel,49521,A young boy learns that he has extraordinary p...

In [ ]:
new[new['title']=='Batman v Superman: Dawn of Justice'] #.index[0] is the column numbering

,title,movie_id,tags
9,Batman v Superman: Dawn of Justice,209112,Fearing the actions of a god-like Super Hero l...

In [54]:
def recommendMovie(movie):
    index= new[new['title']== movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True, key=lambda x: x[1])
    for i in distances[1:6]:
        print(new.iloc[i[0]].title)

In [55]:
recommendMovie('Batman v Superman: Dawn of Justice')

Man of Steel
Batman & Robin
Batman
Batman Begins
Thor

In [67]:
recommendMovie('Extreme Movie')

The Cell
Lady in White
Plush
2:13
The Boys from Brazil

In [62]:
movies['genres'].value_counts()

genres
[Drama]                                                   371
[Comedy]                                                  282
[Drama, Romance]                                          164
[Comedy, Romance]                                         144
[Comedy, Drama]                                           142
                                                         ...
[Adventure, Fantasy, Action, Romance]                       1
[Fantasy, Action, Adventure, ScienceFiction, Thriller]      1
[Action, Family, Fantasy]                                   1
[Drama, Crime, History]                                     1
[Comedy, Drama, Romance, TVMovie]                           1
Name: count, Length: 1175, dtype: int64